{% load static from staticfiles %}
<form action="{{ form.get_absolute_url }}" method="post"
      {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} role="form" class="center-block">
  <fieldset>
    <legend>{{ form.title }}</legend>

    {% if form.intro %}
    <div class="subtitulo">
      {{ form.intro|safe }}
    </div>
    {% endif %}

    {% csrf_token %}

    {% for field in form_for_form %}

      <div class="form-group">
        <label for="">{{field.label_tag}}</label>
        <span class="help-block">{{field.help_text}}</span>

        {{ field }} <!--<img class="spinner" src="{% static 'img/ajax-loader.gif'%}">-->
      </div>
    {% endfor %} {% comment %} for field in form_for_form {% endcomment %}

    <a href="" class="btn btn-success" onClick="ga('send', 'event', 'New_trancription','Enviar')">Send it</a>

    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        Skip it
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="#" onClick="ga('send', 'event', 'New_trancription','No tiene importe final', '{{document.url}}')">{{ _('It does not have a price') }}</a>
        </li>
        <li>
          <a href="#" onClick="ga('send', 'event', 'New_trancription','Quiero otro documento', '{{document.url}}')">{{ _('I just want another document') }}</a>
        </li>
      </ul>
    </div>

<!--    <div class="contenedor">
      <div class="head_especial">
        <div class="cajas">
          <div class="mapa">
            <div class="titulo">
              <legend>{{ form.title }}</legend>
            </div>
            {% if form.intro %}
            <div class="subtitulo">
              {{ form.intro|safe }}
            </div>
            {% endif %}
            {% csrf_token %}
            {% for field in form_for_form %}
            <div class="vd_label {% if forloop.counter|divisibleby:"2" %}label_gris{% else %}label_bco{% endif %}">
              <div class="ayuda">
                <a href="#" onclick="ga('send', 'event', 'New_trancription','BTN_HELP'); return false;"><img src='{% static "img/ayuda.png" %}' width="49" height="17" border="0" alt="ayuda" /></a>
              </div>
              <!--
              <div id="help_{{forloop.counter}}" class="ayuda_hidden">
                <b>{{field.label}}</b><br />
                {{field.help_text}}
              </div>

              <b>{{field.label_tag}}</b>
              <p class="field_help">{{field.help_text}}</p>
              {{ field }} <img class="spinner" src="{% static 'img/ajax-loader.gif'%}">
            </div>
            {% endfor %} {% comment %} for field in form_for_form {% endcomment %}

            <div class="label_bco_enviar">
              <div style="clear:left;">&nbsp;</div>
              <input type="image" src="{% static "img/bot_enviar.png" %}" alt="Enviar" onClick="ga('send', 'event', 'New_trancription','Enviar')" class="btn btn-default">
              <br />
              <br />
              -- o <b>saltear</b> porque --
              <br />
              <br />
              <a href="#" onClick="ga('send', 'event', 'New_trancription','No tiene importe final', '{{document.url}}')" class="vd_btn btn_bg_l red">No tiene importe final</a>
              <br />
              <br />
              <a href="#" onClick="ga('send', 'event', 'New_trancription','Es un llamado a licitación', '{{document.url}}')" class="vd_btn btn_bg_l red">Es un llamado a licitación</a>
              <br />
              <br />
              <a href="#" onClick="ga('send', 'event', 'New_trancription','Quiero otro documento', '{{document.url}}')" class="vd_btn btn_bg_l red">Quiero otro documento</a>
          </div>
        </div>   /div.mapa
        </div> /div.cajas
      </div>  /div.head_especial
    </div>   /div.contenedor -->
  </fieldset>
</form>
