.crowdataapp-documentset.change-form div#form-0-fields-group table thead th:nth-child(3) {
  /*width: 10%;*/
}

#id_entries_threshold {
  width: 5%;
}

.crowdataapp-documentset.change-form div#form-0-fields-group input[type="checkbox"] {
  margin-left: 10px;
}

td.original p {
  display: none;
}

.crowdataapp-documentset.change-form div#form-0-fields-group tr.add-row a {
  background-image: none;
}

.crowdataapp-documentset.change-form .inline-related.dynamic-form  h3 {
  display: none;
}

.crowdataapp-documentset.change-form div#form-0-fields-group th:nth-child(1)
{
 width: 30%;
}

.crowdataapp-documentset.change-form div#form-0-fields-group th:nth-child(2)
{
 width: 20%;
}

.crowdataapp-documentset.change-form div#form-0-fields-group th:nth-child(3),
.crowdataapp-documentset.change-form div#form-0-fields-group th:nth-child(4),
{
  width: 5%
}

.crowdataapp-documentset.change-form .vLargeTextField {
    height: 100px;
}

input:disabled {
  background-color: rgb(230,230,230);
}

.submit-row .deletelink  {
  background-image: none;
}

td.field-sort_order input[type=checkbox]{
  margin-left: 10px;
}
