 {% load i18n %}
 {% load static from staticfiles %}
 {% load browserid %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- BEGIN header.inc -->
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CrowData -  </title>
    <link rel="shortcut icon" href='{{STATIC_URL}}img/favicon.ico' />
    <meta name="title" content="CrowData -  ">
    <meta name="description" content="CrowData - Community scan of PDF documents ">
    <meta name="keywords" content="community, crowdsourcing, PDF, open data, data">
    <meta name="news_keywords" content="community, crowdsourcing">
    <meta name="application-name" content="Crowdata">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mestas face-->
    <meta property="og:title" content="CrowData -  "/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="CrowData -  "/>
    <meta property="og:description" content=""/>
    <!-- fix IE < 9 -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
      // create elements HTML5 for IE
      document.createElement("aside");
      document.createElement("article");
      document.createElement("section");
      document.createElement("footer");
      document.createElement("header");
      document.createElement("hgroup");
      document.createElement("nav");
    </script>
    <![endif]-->

    <!-- link rel="stylesheet" src="{% static 'browserid/persona-buttons.css' %}">-->
    {% browserid_css %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'crowdataapp/css/bootstrap-tabs.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'crowdataapp/css/crowdataapp.css' %}" type="text/css"/>

    <!-- descomentar cuando se use el datepicker
    <link rel="stylesheet" href='{% static "css/datepicker.css" %}' type="text/css" />
    <link rel="stylesheet" href='{% static "css/datepicker3.css" %}' type="text/css" />
     -->
    <!-- /style header-footer -->
    <style type="text/css">
    .btn_bg_l { background: url({% static 'img/bot_bg_l.png' %}) 0 0 no-repeat;}
    .btn_bg_s { background: url({% static 'img/bot_bg_s.png' %}) 0 0 no-repeat;}
    .bot_mail2 { width: 48px; height: 62px; background: url({% static 'img/bot_mail2.png' %}) 0 0 no-repeat; display: block;}
    .herramientasSociales { margin-top: 25px}
    </style>

    <script type="text/javascript" language="JavaScript">
      <!--
      var cX = 0; var cY = 0; var rX = 0; var rY = 0;
      function UpdateCursorPosition(e){ cX = e.pageX; cY = e.pageY;}
      function UpdateCursorPositionDocAll(e){ cX = event.clientX; cY = event.clientY;}
      if(document.all) { document.onmousemove = UpdateCursorPositionDocAll; }
      else { document.onmousemove = UpdateCursorPosition; }
      function AssignPosition(d) {
          if(self.pageYOffset) {
              rX = self.pageXOffset;
              rY = self.pageYOffset;
          }
          else if(document.documentElement && document.documentElement.scrollTop) {
              rX = document.documentElement.scrollLeft;
              rY = document.documentElement.scrollTop;
          }
          else if(document.body) {
              rX = document.body.scrollLeft;
              rY = document.body.scrollTop;
          }
          if(document.all) {
              cX += rX;
              cY += rY;
          }
          d.style.left = (cX+10) + "px";
          d.style.top = (cY+10) + "px";
      }
      function HideContent(d) {
          if(d.length < 1) { return; }
          document.getElementById(d).style.display = "none";
      }
      function ShowContent(d) {
          if(d.length < 1) { return; }
          var dd = document.getElementById(d);
          AssignPosition(dd);
          dd.style.display = "block";
      }
      function ReverseContentDisplay(d) {
          if(d.length < 1) { return; }
          var dd = document.getElementById(d);
          AssignPosition(dd);
          if(dd.style.display == "none") { dd.style.display = "block"; }
          else { dd.style.display = "none"; }
      }


      //-->
    </script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{% static "js/jquery-2.0.2.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/crowdata.js" %}"></script>
    <script src="{% static "js/simpleslide.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <!--
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
     -->
     <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '', '');
      ga('send', 'pageview');
    </script>
    {% block scripts %}
    {% endblock %}
    <!-- END header.inc -->
    <script type="text/javascript">
    $(document).ready(function(){
        replace_txt_html();
        $('[data-formatTextMillons="true"]').formatTextMillons(10);
      });
    </script>

  </head>

  <body>

    {% include "header.html" %}

    <main class="container">

      <div class="row">
        <div class="col-md-12">
          <h1 itemprop="name">{% block headercontent %}{% endblock %}</h1>
        </div>
      </div> <!-- row -->


      {% block content %}
      {% endblock %}

    </main> <!-- container -->

    {% include "footer.html" %}

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{"parsetags": "explicit","lang": "es"}</script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="{% static 'browserid/api.js' %}"></script>
    <script src="{% static 'browserid/browserid.js' %}"></script>

  </body>

</html>
