<!-- footer -->
<div class="panel panel-footer">
  <section>
    <ul>
      <li><a href="http://github.com/crowdata/crowdata">{{ _('Source') }}</a></li>
      <li><a href="http://crowdata.readthedocs.org/">{{ _('Documentation') }}</a></li>
      <li><a href="http://vozdata.lanacion.com.ar">{{ _('Examples') }}</a></li>
    </ul>
    <a class="open-news" href="http://www.mozillaopennews.org/" title="Knight-Mozilla OpenNews" target="_blank"><img src="/static/img/open-news-transparent.png" alt="Knight-Mozilla OpenNews" /></a>
  </section>
</div>
<!-- footer -->
