<!-- PIE -->
    <footer>
    <!-- <section id="pie" class="floatFix expandido"> -->
    <section id="pie" class="floatFix">
    	<div class="logos">
	    	<a class="" href="http://www.mozillaopennews.org/" title="Knight-Mozilla OpenNews" target="_blaank"><img src="/static/img/Open_News-small.png" alt="Knight-Mozilla OpenNews" /></a>
    	</div>
      <div class="copy floatFix"><span class="textoCopy">Copyright | Todos los derechos reservados.&nbsp;</span></div>
      <a onclick="ga('send', 'event', 'ver_creditos', location.pathname); show_ctos(this);" id="creditos">créditos</a>
    </section>
    </footer>
<!-- PIE -->
