<!--CABEZAL-->
<header>
    <section class="cabezal interna">
        <section class="desplegable floatFix">
            <div class="logoConSeccion floatFix">
                <section class="logo"><a class="ln" href="http://www.lanacion.com.ar" onclick="ga('send', 'event','cabezal','logo','interna');" title="lanacion.com" alt="lanacion.com">&nbsp;</a></section>
                <section class="encabezado"><h1><a href="/">VozData</a></h1></section>
            </div>
            <section class="buscador" id="buscador">
                <ul>
                    <li class="compartir floatFix"><a class="facebook" rel="external" title="lanacion.com en Facebook" target="_blank" href="http://www.facebook.com/lanacion">&nbsp;</a><a class="twitter" rel="external" title="lanacion.com en Twitter" target="_blank" href="http://twitter.lanacion.com.ar/">&nbsp;</a><a class="google" rel="external" title="lanacion.com en Google+" target="_blank" href="https://plus.google.com/115780372796647083246/posts">&nbsp;</a></li>
                </ul>
            </section>
        </section>
        </section>
        <nav id="troncal">
        <ul class="navSecciones">
            <li class="principalesTop"><a onclick="ga('send', 'event','cabezal','ultimas-noticias','ultimas-noticias');" href="http://www.lanacion.com.ar/ultimas-noticias" class="accesoSeccion ultimas">Últimas noticias</a></li>
            <li class="edicion-impresa principalesTop"><a class="toi-9936 accesoSeccion" onclick="ga('send', 'event','cabezal','edicion-impresa','edicion-impresa');" href="http://www.lanacion.com.ar/edicion-impresa">Edición impresa</a></li>
            <li class="principalesTop"><a class="toi-9937 accesoSeccion" onclick="ga('send', 'event','cabezal','blogs','blogs');" target="blank_" href="http://blogs.lanacion.com.ar">Blogs</a></li>
            <li class="principalesTop"><a class="data principalesTop accesoSeccion" onclick="ga('send', 'event','cabezal','data','data');" href="http://www.lanacion.com.ar/data">LN Data</a></li>

            <li class="servicios principalesTop"><a onclick="ga('send', 'event','cabezal','servicios','servicios');" href="http://servicios.lanacion.com.ar" class="accesoSeccion">Servicios</a></li>
            <li class="conOver guia-salidas principalesTop"><a href="http://guia.lanacion.com.ar" onclick="ga('send', 'event','cabezal','guia-lanacion','guia-lanacion');" class="accesoSeccion" target="_blank">Guía LA NACION</a></li>
        </ul>
        </nav>
        <div class="cierre"></div>
</header>
<!--CABEZAL-->