{% load browserid %}
<!--CABEZAL-->

<div class="navbar navbar-default" role="navigation">

  <a href="javascript:void(0)" id="menu-nav" class="nav-visible"><i class="fa fa-bars"></i></a>

  <!--<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
      <h1><a href="http://crowdata.github.io/crowdata" class="navbar-brand">CrowData</a></h1>
    </div>-->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'document_set_index' %}" class="active">{{ _('Home') }}</a></li>
        <li><a href="{% url 'admin:index' %}">{{ _('Admin') }}</a></li>
        <li><a href="http://github.com/crowdata/crowdata">{{ _('Source') }}</a></li>
        <li><a href="http://crowdata.readthedocs.org/">{{ _('Documentation') }}</a></li>
        <li><a href="http://vozdata.lanacion.com.ar">{{ _('Examples') }}</a></li>
      </ul>
      {% browserid_info %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)" id="filter-nav"><i class="fa fa-search"></i></a></li>
          {% if user.is_authenticated %}
        <li>
            <a href="reverse('user_profile', kwargs={'document_set':{{document_set}}, 'username':{{ user.username }} })">{{ user.get_full_name }}</a>
        </li>
        <li>
            {% browserid_logout text=_('Logout')  %}
        </li>
          {% else %}
        <li>
            {% browserid_login text=_('Login') color='dark' %}
        </li>
          {% endif %}
      </ul>
    </div>
  </div>

</div>
<!--CABEZAL-->
