{% load browserid %}
<!--CABEZAL-->
<header class="main">
    <div class="brand">
        <a href="javascript:void(0)" id="menu-nav" class="nav-visible"><i class="fa fa-bars"></i></a>
        <a href="http://jazzido.github.com/crowdata" class="logo"><h1><strong>CrowData</strong></h1></a>
    </div>
    <nav class="navbar-left">
        <ul class="list-inline">
            <li><a href="">{{ _('Home') }}</a></li>
            <li><a href="{% url 'admin:index'  %}">{{ _('Admin') }}</a></li>
            <li><a href="http://github.com/jazzido/crowdata">{{ _('Source') }}</a></li>
            <li><a href="http://crowdata.readthedocs.org/">{{ _('Documentation') }}</a></li>
            <li><a href="http://vozdata.lanacion.com.ar">{{ _('Examples') }}</a></li>
            <li>

            </li>
          </ul>
    </nav>
    <nav class="navbar-right">
        <ul class="list-inline">
            <li><a href="javascript:void(0)" id="filter-nav"><i class="fa fa-search"></i></a></li>
            <li>
              {% browserid_info %}
              {% if user.is_authenticated %}
                <a href="reverse('user_profile', kwargs={'document_set':{{document_set}}, 'username':{{ user.username }} })">{{ user.get_full_name }}</a> <span> | </span> {% browserid_logout text=_('Logout')  %}
              {% else %}
                {% browserid_login text=_('Login') color='dark' %}
              {% endif %}
            </li>
        </ul>
    </nav>

</header>
<!--CABEZAL-->
