<div style="font-size:13px; line-height: 17px;">
    <b>
        Please select the team you would like to work.
    </b>
    The Documents you free will be associated with the <strong>team</strong> you choose.
    <br>
    <br>

    <p><strong>Teams you belong:</strong></p>
    <br>
    <select class="organizations">
        <option value="none">-- Without a team -- </option>
        {% for organization in organizations %}
          <option value="{{ organization.id }}" {% if current_organization == organization %} selected="selected" {% endif %} data-slug="{{ organization.slug }}">{{ organization.name }}</option>
        {% endfor %}

    </select>

    <div class="organization_error error hidden">
        An error has occurred. Please try it again.
    </div>

    <div class="organization_buttons">
        <a class="vd_btn btn_bg_l btn_bg_m ok">Confirm</a>
        <a class="vd_btn btn_bg_l btn_bg_m red cancel">Cancel</a>
    </div>
    
    <p class="organization_list_legend">
        You can join other teams from here:
        <a href="{% url 'organizations' %}">Team list</a>
    </p>
    <p class="organization_list_legend">
        For signing up a Team please fill the next 
        <a href="https://docs.google.com/forms/d/17LRXBtuEUNsMBF0Y-KEVIyF40vomkg_iPoFfWs4j1AQ/viewform" target="_blank">form.</a>
    </p>    
</div>
