{% extends "base.html" %}
{% load crowdataapp_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load cache %}
{% load humanize %}

{% block headercontent %}
  {{document_set.name}}
{% endblock %}

{% block content %}
  <div class="media">
    {% if document_set.header_image %}
        <a class="pull-left" href="{{ds.get_absolute_url}}">
          <img src="{{ document_set.header_image }}" width="316" height="216" class="media-object" />
        </a>
    {% endif %}

    <div class="media-body">
      {{document_set.description|linebreaks}}
    </div>

  </div>

  <div class="row">
    {% for ranking in document_set.rankings.all %}
      {% render_ranking ranking %}
    {% endfor %}
  </div>

{% endblock %}

{% block rightcolumn %}

  {% documents_verified document_set %}

  <div class="herramientasSociales social">
  </div>

  <script type="text/javascript">
    $(document).ready(function(){ create_sosial($('.herramientasSociales.social'), null, "Mensaje a enviar a redes sociales usando #CrowData"); });
  </script>

  {% list_ranking_user document_set.leaderboard|slice:":10" %}

{% endblock %}
