{% extends "layout/layout_12.html" %}
{% load crowdataapp_tags %}
{% load static from staticfiles %}

{% block headercontent %}
  {{ _('Choose a project') }}
{% endblock %}

{% block maincolumn %}
<script src="/static/crowdataapp/js/jquery.tinysort.min.js"></script>
<div class = "sort-name asc">Sort name</div>
<div class = "sort-count">Sort count</div>
<div class = "sort-percentage">Sort percentage</div>

<div class = "media-wrapper">
  {% for ds in document_sets %}
		<div class="media" data-name = "{{ds.name}}" data-count = "{{ ds.documents.count }}" data-complete = "{% widthratio ds.get_verified_documents.count ds.documents.count 100 %}">
      {% if ds.header_image %}
        <a class="pull-left" href="{{ds.get_absolute_url}}">
          <img src="{{ ds.header_image }}" width="316" height="216" class="media-object" />
        </a>
      {% endif %}

      <div class="media-body">
        <h4 class="media-heading"><a href="{{ds.get_absolute_url}}">{{ds.name}}</a></h4>
		    {{ds.description}}
        {% documents_verified ds %}
        {% call_to_action ds %}

		  </div>
		</div>
  </div>
    <script>
    $('div.sort-name').click(function() { 
        orden = 'asc'; 

        if ($(this).hasClass('desc')) { 
          $(this).removeClass('desc');
          $(this).addClass('asc');
          orden = 'desc';
        }



        $('div.media-wrapper').tsort('div.media',{data:'name'},{order:orden});
    });



    </script>
  {% endfor %}

{% endblock %}