{% extends "layout/layout_8-4.html" %}
{% load i18n %}
{% block maincolumn %}
<div class="pure-u-1">
  <form class="pure-form pure-form-stacked" method="post">
    <fieldset>
      <legend>{% trans "Edit your profile" %}</legend>
      {% for field in profile_form %}
      {{ field.label_tag }} {% if field.required %}*{% endif %}

      {{ field }}
      {% endfor %}
<div style="clear:left;">&nbsp;</div>
      <button type="submit" class="pure-button pure-button-primary">Save</button>
    </fieldset>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
