
<div class="caja_usuarios">
  <div class="titulo"><a class="vd_titulo" href="{% url 'users_all' document_set.slug %}">Ranking de usuarios <span class="ver_mas">ver +</span></a></div> 
  <div class="subtitulo">
    Por cantidad de documentos revisados
  </div>
  <!-- for user in document_set.leaderboard|slice:":10"  -->
  {% for user in users_ranking %}
  <div class="gris" {% if profile.user == user %}id="markado"{% endif %}>
    <div class="caja_numeral"><img src="http://bucket.clanacion.com.ar/avatar/{{user.username|slice:"-1:"}}/{{ user.username|slice:"3:" }}G.jpg" width="45" height="45" /></div>
    <div class="caja_detalle">
      <a href="/cd/{{document_set.slug}}/users/{{user.username}}">{{user.get_full_name}}</a>
    </div>
    <div class="caja_monto">
      {{ user.num_entries }}
    </div>
    <br clear="all" />
  </div>
  {% endfor %}
</div>