{% load pagination_tags %}
{% load crowdataapp_tags %}
{% load humanize %}
<div class="caja001 cont_ranking_all">
  <div class="titulo">{{ranking.name}}</div>
  <div class="subtitulo"></div>
  <table class="table table-striped">
  {% autopaginate ranking_calculate_all %}
  {% for i in ranking_calculate_all %}
  <tr>
    <td>{% index_in_ranking page forloop.counter 20 %}</td>
    <td><a href="/cd/{{ranking.document_set.slug}}/{{ ranking.label_field.id }}/{{ i.2 }}">{{ i.0 }}</a></td>
    <td class="caja_monto" data-formatTextMillons="true">$ {{ i.1|floatformat:"0"|intcomma }}</td>
  </tr>
  </div>
  {% endfor %}
  </table>
  <div style="text-align:center">
  {% paginate %}
  </div>

</div>
