{% load humanize %}

<div class="table-responsive">
  <table class="table table-striped">
    <th>
      <td><a href="/cd/{{ranking.document_set.slug}}/ranking/{{ranking.id}}" onclick="ga('send', 'event', 'ranking_ver_mas','{{ranking.name}}');"><h3>{{ ranking.name }}</h3><button class="btn btn-primary">{{ _('more') }}</button>
    </a></td>
      <td></td>
      <td></td>
    </th>

    {% for i in ranking.calculate %}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td>
          <a href="/cd/{{ranking.document_set.slug}}/{{ ranking.label_field.id }}/{{ i.2 }}">{{ i.0 }}</a>
        </td>
        <td>
          $ {{ i.1|floatformat:"0"|intcomma }}
        </td>
      </tr>
    {% endfor %}

  </table>
</div>
