{% load i18n %}
<div style="font-size:13px; line-height: 17px;">
    {% trans "The Documents you free will be associated with the" %} <strong>{% trans " team " %}</strong>
    <br>
    <br>
    
    <p>
    <strong>{% trans "You don't belong to any team." %}</strong>
    </p>
    
    <p class="organization_list_legend">
        {% trans "You can join other teams from here:" %}
        <a href="{% url 'organizations' %}">{% trans "Team list" %}</a>
    </p>

    <p class="organization_list_legend">
        {% trans "For signing up a Team please fill the next " %} <a href="{{organization_signup_link }}" target="_blank">{% trans "form." %}</a>
    </p>    
</div>
